@charset "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../img/1.jpg);
}
div{
	width: 1000px;
	height: 100px;
	margin: 100px auto;
	
}
img{
	width:200px;
	height: 100px;
	float: left;
}
